li {
  display: flex;
  gap: 10px;
  width: 20rem;
}

li span {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
}

li img {
  width: 64px;
}

.striked {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.editMode {
  align-items: flex-end;
  text-decoration: none;
}

li.striked img {
  filter: grayscale(100%);
}

li div {
  width: 100%;
}

li input {
  width: 80%;
  padding: 1rem 0.5rem;
  padding-bottom: 0.2rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: inherit;
}

li input:focus {
  border-bottom: 1px solid rgb(0, 136, 255);
  background-image: linear-gradient(
    to top,
    rgba(0, 179, 255, 0.107),
    transparent,
    transparent
  );
}

li .icon {
  padding-left: 10px;
  color: crimson;
}
