li {
  display: flex;
  gap: 10px;
}

li span {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
}

li img {
  width: 64px;
}

.striked {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

li.striked img {
  filter: grayscale(100%);
}
